Flask==1.0.0
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.5.0
lxml2dict==0.0.2
MarkupSafe==1.0
netaddr==0.7.19
nltk==3.4.5
requests==2.23.0
requests-toolbelt==0.8.0
SecretStorage==2.3.1
urllib3==1.24.2
Werkzeug==1.0.1
xmltodict==0.11.0